@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
:root{
  --op: 0;
}
#post{
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
  z-index: 999;
}
/*Font*/
section h1,
section p{
  color: #fff8f8;
  font-family: 'Pridi', serif;
}
section h1{
  font-size: 2.1vw;
}
section p{
  font-size: 1.2vw;
}
header a{
  font-size: 1.2vw;
}
.name{
  font-size: 2vw;
}
#section-nm-3 p{
  margin: 0;
}


html{
  scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}
header{
  position: absolute;
  width: 100%;
  margin-top: 20px;
  z-index: 999;
}
body {
  margin: 0;
  background-color: #222222;
  font-family: "Kanit", sans-serif;
}
.container{
  width: 100%;
  max-width: 1600px;
  padding: 0 1rem;
  margin: auto;
  box-sizing: border-box;
}
#loading-sc {
  height: 100vh;
  width: 100%;
  background-image: url("./CA/GIF.gif");
}
li {
  font-size: 22px;
  font-weight: 300;
  display: inline;
  cursor: default;
  margin: 40px;
}
/*
.home-cover {
  height: 140vh;
  background-image: url("./CA/รูปหน้าhome/หน้าหลัก.png");
  background-size: cover;
}*/
#header {
  width: 100%;
  font-size: 22px;
  height: 100px;
}
.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-right{
  display: flex;
  flex-direction: row;
  margin-left: 30vw;
}
.nav-right a{
  margin: 0 30px;
}

#logo {
  position: absolute;
  opacity: calc(calc(100 - var(--op)) * 1%);
  width: 616px;
  height: 212px;
  top: 20%;
  right: 10%;
}
#mini-logo {
  width: auto; 
  max-height: 5vw;
}
.flex-center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-left-parent {
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.flex-right-parent {
  display: flex;
  justify-content: end;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
}
.btn{
  color: #fff8f8;
}
.btn-active{
  color: #FF0D0D;
}
.img-fit{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-description{
  padding: 0px 3em;
}

/*Section Class*/
.section-main{
  height: 125vh;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
}
.section-nm{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
section{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

/*Img and text in section control*/
.img-nr{
  width: 85%;
  height: auto;
}
.img-big{
  width: 100%;
  height: auto;
}
.img-full{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.txt-fit{
  width: 100%;
  height: 100%;
}
.txt-highlight-3{
  position: relative;
  background: transparent;
  padding-left: 5px;
  transition: 1s;
}
.txt-highlight-3:after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  animation: highlight-anim 2s;
  animation-fill-mode: forwards;
}
.des-top{
  position: absolute; top: 3vh; left: 20vw;
}
.des-bottom{
  position: absolute; bottom: 7vh; right: 25vw;
}

@keyframes highlight-anim {
  from {
    width: 0;
    background: linear-gradient(transparent 45%, #FD2D2D 41%, #FD2D2D 80%, transparent 81%);
  }

  to {
    width: 102%;
    background: linear-gradient(transparent 45%, #FD2D2D 41%, #FD2D2D 80%, transparent 81%);
  }

}

/*Grid*/
.grid-parent,
.column-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
}

.column-8,
.grid-parent-col8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
}

.column-2,
.grid-parent-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  height: 100%;
}

.grid-parent > div.span-1,.grid-parent > a.span-1, .grid-parent-col2 > div.span-1 {
    grid-column: span 1;
  }
  .grid-parent > div.span-2 , .grid-parent-col8 > div.span-2 , .grid-parent-col2 > div.span-2{
    grid-column: span 2;
  }
  .grid-parent > div.span-3 , .grid-parent-col8 > div.span-3 {
    grid-column: span 3;
  }
  .grid-parent > div.span-4 , .grid-parent-col8 > div.span-4 {
    grid-column: span 4;
  }
  .grid-parent > div.span-5 , .grid-parent-col8 > div.span-5 {
    grid-column: span 5;
  }
  .grid-parent > div.span-6 , .grid-parent-col8 > div.span-6 {
    grid-column: span 6;
  }
  .grid-parent > div.span-7 , .grid-parent-col8 > div.span-7 {
    grid-column: span 7;
  }
  .grid-parent > div.span-8 , .grid-parent-col8 > div.span-8 {
    grid-column: span 8;
  }
  .grid-parent > div.span-9 , .grid-parent-col8 > div.span-9 {
    grid-column: span 9;
  }
  .grid-parent > div.span-10 , .grid-parent-col8 > div.span-10 {
    grid-column: span 10;
  }
  .grid-parent > div.span-11 , .grid-parent-col8 > div.span-11 {
    grid-column: span 11;
  }
  .grid-parent > div.span-12 , .grid-parent-col8 > div.span-12 {
    grid-column: span 12;
  }

  