@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
:root {
	--op: 0;
	--scale: 0;
	--scale_2: 0;
}

#post {
	font-size: 3em;
	position: fixed;
	top: 0;
	left: 0;
	background: #fffc;
	z-index: 999;
}
a{
	cursor: pointer;
}
.credit{
	width: 100%;
	height: auto;
	padding: 1vh 0;
	text-align: center;
	color: #FD2D2D;
}
.credit p{
	font-size: 0.9vw;
	padding: 0 26vw;
}
.pause {
    animation-play-state: paused;
}
.mini-nav-bar{
	width: 0; height: 0;
}
/*Font*/
section h1,
section p {
	color: #fff8f8;
	font-family: 'Pridi', serif;
}

section h1{
	font-size: max(21px, 2.1vw);
}

section p {
	font-size: max(14px, 1.2vw);
}

header a {
	font-size: max(14px, 1.2vw);
}
.mini-nav-content{
	display: none; text-align: end; padding: 0 10vw;
}
.name {
	font-size: max(19px, 2vw);
	font-weight: 200;
}

.name2 {
	font-size: max(19px, 2vw);
}
.border-bt-game{
	position: absolute;
}
#section-nm-3 p {
	margin: 0;
}
.sec-des-mach{
	padding: 0px 0vw 0px 7vw;
}
.text-header2{
	margin: 0;
}
#mock-info-header.text-header2, #mock-info-header2.text-header2{
	font-size: 1.7vw;
}
.text-para{
	font-size: 1vw;
}
.nr-mach-sub-des{
	font-size: 0;
}
html {
	/*scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;*/
	scroll-behavior: smooth;
}
.mob-mock-info-container p, .mob-mock-info-container h1, .mob-thing-info-container p, .mob-thing-info-container h1{
	font-size: 0;
}
header .main {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	z-index: 999;
}

header .normal {
	width: 100%;
	margin-top: 20px;
}
.header{
	z-index: 999;
}

body {
	margin: 0;
	background-color: #222222;
	font-family: "Kanit", sans-serif;
	overflow-x: hidden;
}
/*ScrollBar*/
body::-webkit-scrollbar {
	width: 1em;
}
 
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
	background-color: #FD2D2D;
	outline: 1px solid #222222;
}

.container {
	width: 100%;
	max-width: 1600px;
	padding: 0 1rem;
	margin: auto;
	box-sizing: border-box;
}

#loading-sc {
	height: 100vh;
	width: 100%;
	background-image: url("./CA/GIF.gif");
	background-size: 100% 100%;
}

li {
	font-size: 22px;
	font-weight: 300;
	display: inline;
	cursor: default;
	margin: 40px;
}


/*
.home-cover {
  height: 140vh;
  background-image: url("./CA/รูปหน้าhome/หน้าหลัก.png");
  background-size: cover;
}*/

#header {
	width: 100%;
	font-size: 22px;
	height: 100px;
}

.header {
	display: flex;
	justify-content: space-evenly;
	-webkit-justify-content: space-evenly;
	align-items: center;
	position: absolute;
}

.head-mob{
	font-size: 0;
	visibility: hidden;
}
.head-nr{
	visibility: visible;
}
.nav-right {
	display: flex;
	flex-direction: row;
	margin-left: 30vw;
}

.nav-right a {
	margin: 0 30px;
}

#logo {
	position: absolute;
	opacity: calc(calc(100 - var(--op)) * 1%);
	width: 616px;
	height: 212px;
	top: 20%;
	right: 10%;
}

#mini-logo {
	width: auto;
	max-height: 5vw;
}

#mini-logo-sm{
	width: auto;
	max-height: 3vw;
	padding: 1vw 1vw;
}

.des-header-big{
	color: #FD2D2D;
	font-family: "Kanit", sans-serif;
	font-size: max(40px , 4vw);
	margin: 0;
	font-weight: 600;
}

.des-garbage{
	padding-left: 100px;
}

#des-para-big{
	color: #fff8f8;
	font-family: "Kanit", sans-serif;
	font-size: max(21px, 1.8vw);
	margin: 0;
}
.mach-comment{
	padding-left: 150px;
}
#game-header-big{
	color: #FD2D2D;
	font-family: "Kanit", sans-serif;
	font-size: max(30px , 3vw);
	margin: 0;
	font-weight: 600;
}

#game-para-big{
	color: #fff8f8;
	font-family: "Kanit", sans-serif;
	font-size: max(20px, 2vw);
	margin: 0;
}

.flex-center-parent {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	text-align: center;
}

.flex-center-parent2{
	display: flex;
	align-items: center;
}

.flex-left-parent {
	display: flex;
	justify-content: start;
	-webkit-justify-content: start;
	align-items: center;
}

.flex-right-parent {
	display: flex;
	justify-content: end;
	-webkit-justify-content: end;
	align-items: center;
}

.flex-top_down-parent{
	display: flex; align-items: start;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	color: #fff8f8;
}

.btn-active {
	color: #FF0D0D;
}

.img-fit {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


/*Section Class*/
.section-main {
	height: 125vh;
	width: 100%;
	overflow: hidden;
	scroll-snap-align: start;
}

.section-nm {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

section {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	/*scroll-snap-align: start;*/
}

section.long-section{
	height: 220vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

section.sec-sm{
	height: 88vh;
}

section.sec-sm2{
	height: 88vh;
}

#section-nm-3 {
	height: 120vh;
	overflow: visible;
}

#section-nm-3 {
	margin-bottom: 500px;
}

#section-nm-7 p,
#section-nm-7 h1 {
	margin: 0;
}

#section-nm-7,
#section-nm-9,
#section-nm-10 {
	margin-top: 250px;
	overflow: visible;
}

.mob-mach-sec{
	width: 0; height: 0;
	position: absolute;
}

footer {
	position: relative;
	margin-top: 100px;
	height: 100px;
	width: 100%;
	margin-bottom: 10px;
}

.game-area{
	height: 100vh;
}

/*Img and text in section control*/

.img-nr {
	width: 85%;
	height: auto;
}

.img-nr-2 {
	width: 45vw;
	height: auto;
}

.img-nr-3 {
	width: 35vw;
	height: auto;
}

.img-sm {
	width: 60%;
	height: auto;
}

.img-big {
	width: 100%;
	height: auto;
}

.img-full {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.img-gscale {
	filter: grayscale(100%);
	transition: 5s;
}

.img-gscale.active {
	filter: grayscale(0%);
	transition: 5s;
}

.img-sign.active{
	width: 10vw;
	margin: 5vh 0;
	position: relative;
}

.img-sign{
	width: 0;
	margin: 0;
	position: absolute;
}

.img-el{
	opacity: 0;
	transition: 1s;
	z-index: -5;
}

.img-el.active{
	opacity: 100%;
	transition: 2s;
}

.thing-sign{
	width: 10vw;
	margin: 5vh 5px;
	position: relative;
}

.thing-box.active{
	width: auto;
	display: flex;
	position: relative;
	visibility: visible;
}

.thing-box{
	visibility: hidden;
	width: 0;
	position: absolute;
}

.thing-box .empty{
	height: 10vh;
}
.mock-container{
	right: 0; top: 0; margin-top: 50px; height: auto; position: absolute;
}
#mock-info-para{
	padding-right: 48vw;
}
.mob-mock-container, .mob-thing-container{
	height: 0;
	width: 0;
	display: none;
}
.nav-logo-img{
	width: 0;
	height: 0;
}
.img-long1, .img-long2{
	width: auto;
	height: 210vh; /*120vw*/
	position: absolute;
}

.img-long1{
	opacity: 1;
	transition: 0.5s;
}

.img-long2{
	opacity: 0;
	transition: 0.5s;
}

.model{
	width: 0;
	height: 0;
}

.container-img-long:hover .img-long1{
	opacity: 0;
	transition: 0.5s;
}

.container-img-long:hover .img-long2{
	opacity: 1;
	transition: 0.5s;
}

.crop-1 {
	width: 41.6vw;
	height: 34.1vw;
	object-fit: cover;
	object-position: 0 100%;
}

.crop-2 {
	width: 41.6vw;
	height: 34.1vw;
	object-fit: cover;
	object-position: 100% 0%;
	transform: scale(1.2);
}

.txt-fit {
	width: 100%;
	height: 100%;
}

.txt-highlight-3 {
	position: relative;
	background: transparent;
	/*padding-left: 5px;*/
	transition: 1s;
}

.txt-highlight-3::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	animation: highlight-anim 2s;
	animation-fill-mode: forwards;
}
.mob-click.active{
	font-size: 0;
	margin: 0;
	padding: 0;
}
.description, .sub-description{
	opacity: 0%;
}

.description.active{
	opacity: 100%;
	transition: 2s;
	animation: des-transform 2s;
	animation-fill-mode: forwards;
}

.des-right{
	padding-right: 18vw;
}

.sub-description.active{
	opacity: 100%;
	transition: 2s;
	animation: des-transform 2.5s;
	animation-fill-mode: forwards;
}

.des-left{
	padding-right: 0;
	padding-left: 18vw;
}

.sec-des-center{
	padding: 0 32vw;
}

.des-track1{
	padding: 0px 0vw 0px 7vw; width: 35vw;
}

@keyframes des-transform {
	from{transform: translateY(7vh);}
	to{transform: translateY(0vh);}
}
.text-header, .text-header2{
	color: #FD2D2D;
}

.click{
	font-size: 0;
}

.mob-click{
	font-size: 0;
	position: absolute;
	display: none;
}

.click.active{
	padding-top: 20vh; margin-bottom: 17vh;
	color: #FD2D2D;
	font-size: max(21px, 2.1vw);
}

#section-main-info .text-header{
	margin: 0;
}

.fade-in-text {
	animation: fadeIn linear 0.2s;
	-webkit-animation: fadeIn linear 0.2s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

.sub-container{
	width: 100%;
	height: auto;
	padding: 0 0 0 20vw;
	margin-top: 17vh;
	position: relative;
}

.des-top {
	position: absolute;
	top: -3vh;
	left: 20vw;
}
.des-bottom {
	position: absolute;
	bottom: -3vh;
	right: 25vw;
}

.des-long-container{
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
}
.dust-des{
	padding-right: 8.5em;
}
.long-des{
	padding: 5px 0;
}

.long-des p{
	margin: 40px 0;
}

.sec-description {
	padding: 0px 3em;
}

.sec-description-right {
	display: flex;
	justify-content: end;
	-webkit-justify-content: end;
	align-items: end;
}

#the-girl{
	padding-right: 5vw;
}

.img-comment {
	position: relative;
	text-align: center;
}

.img-comment .comment {
	position: absolute;
	width: 100%;
	bottom: 5vh;
}

#comment {
	color: #FF0D0D;
}

.time.active {
	color: #FF0D0D;
	transition: 5s;
}

#dustman {
	padding-left: 100px;
}

#dustman-des {
	padding-left: 200px;
}
.dust3-des{
	padding-left: 120px;
	padding-right: 16em;
}
#time_stm p br {
	display: block;
	content: "";
	margin: 5px 0;
}

.time_stm{
	opacity: 0;
}

.time_stm.active{
	opacity: 100%;
	transition: 2s;
	animation: time-transform 2.5s;
	animation-fill-mode: forwards;
}

@keyframes time-transform{
	from{transform: translateX(8vh);}
	to{transform: translateX(0vh);}
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
	position: absolute;
	z-index: 1;
	transition: 0.4s;
}

.item-1 {
	left: 20.5vh;
	top: 3.5vw;
	padding: 40px;
	width: 120px;
	transform: scale(var(--scale));
}

.item-2 {
	bottom: 20vh;
	left: 5vw;
	padding: 40px;
	width: 100px;
	transform: scale(var(--scale));
}

.item-3 {
	bottom: 10vh;
	left: 32vw;
	padding: 25px;
	width: 150px;
	transform: scale(var(--scale));
}

.item-4 {
	top: 30vh;
	right: 8vw;
	padding: 20px;
	width: 160px;
	transform: scale(var(--scale_2));
}

.item-5 {
	bottom: 20vh;
	right: 22vw;
	padding: 25px;
	width: 130px;
	transform: scale(var(--scale_2));
}

.item-danger{
	position: absolute;
	filter: saturate(0.3);
	height: auto;
}

.item-danger:hover{
	filter: saturate(1);
	transition: 0.5s;
}

.item-danger.active{
	filter: drop-shadow(0px 0px 7px #FD2D2D );
	transition: 0.5s;
}

.pos-item-1 {
	left: 20.5vh;
	top: 3.5vw;
}

.pos-item-2 {
	bottom: 20vh;
	left: 5vw;
}

.pos-item-3 {
	bottom: 10vh;
	left: 32vw;
}

.pos-item-4 {
	top: 30vh;
	right: 8vw;
}

.pos-item-5 {
	bottom: 20vh;
	right: 22vw;
}

.pos-mock-1{
	right: 28vw; top: 7vw;
}

.pos-mock-2{
	right: 19vw; top: 4vw;
}

.pos-mock-3{
	right: 13vw; top: 7.5vw;
}

.pos-mock-4{
	right: 31vw; top: 15vw;
}

.pos-mock-5{
	right: 22vw; top: 17.5vw;
}

.pos-mock-6{
	right: 16vw; top: 14.2vw;
}

.pos-mock-7{
	right: 10.5vw; top: 16vw;
}

.pos-mock-8{
	right: 29.5vw; top: 27vw;
}

.pos-mock-9{
	right: 17vw; top: 28vw;
}

.pos-mock-10{
	right: 12.5vw; top: 28vw;
}

img.pos-mock-1{
	width: 5vw;
}

img.pos-mock-2{
	width: 7.5vw;
}
img.pos-mock-3{
	width: 5vw;
}

img.pos-mock-4{
	width: 4vw;
}

img.pos-mock-5{
	width: 8vw;
}

img.pos-mock-6{
	width: 5.5vw;
}

img.pos-mock-7{
	width: 4vw;
}

img.pos-mock-8{
	width: 4.5vw;
}

img.pos-mock-9{
	width: 11vw;
}

img.pos-mock-10{
	width: 3vw;
}

.pos-thing-1{
	width: 3vw; right: 24vw; top: 3vw;
}

.pos-thing-2{
	width: 7.5vw; right: 11vw; top: 3vw;
}

.pos-thing-3{
	width: 8vw; right: 25vw; top: 13.5vw;
}

.pos-thing-4{
	width: 5.5vw; right: 17vw; top: 15.5vw;
}

.pos-thing-5{
	width: 4vw; right: 9vw; top: 16vw;
}

.pos-thing-6{
	width: 11vw; right: 24vw; top: 27vw;
}

.pos-thing-7{
	width: 1.35vw; right: 21vw; top: 27vw;
}

.pos-thing-8{
	width: 10.5vw; right: 8.5vw; top: 26.5vw;
}

.tooltiptext{
	position: absolute;
	background-color: #FD2D2D;
	font-weight: 300;
	padding: 0 5px;
	font-size: max(14px, 1vw);;
	text-align: center;
	visibility: hidden; transform: rotate();
} 

.tooltiptext.active{
	visibility: visible;
}

.pos-tool-mock1{
	right: 29.3vw; top: 17vw;
}

.pos-tool-mock2{
	right: 20vw; top: 17vw;
}

.pos-tool-mock3{
	right: 13.5vw; top: 21vw;
}

.pos-tool-mock4{
	right: 31.3vw; top: 26vw;
}

.pos-tool-mock5{
	right: 23.7vw; top: 27.5vw;
}

.pos-tool-mock6{
	right: 16.5vw; top: 28vw;
}

.pos-tool-mock7{
	right: 10vw; top: 27vw;
}

.pos-tool-mock8{
	right: 30vw; top: 34vw;
}

.pos-tool-mock9{
	right: 20vw; top: 35vw;
}

.pos-tool-mock10{
	right: 11.5vw; top: 34vw;
}

.pos-tool-thing1{
	right: 22.5vw; top: 15vw;
}

.pos-tool-thing2{
	right: 12vw; top: 15vw;
}

.pos-tool-thing3{
	right: 26.5vw; top: 25vw;
}

.pos-tool-thing4{
	right: 17.8vw; top: 25vw;
}

.pos-tool-thing5{
	right: 7.5vw; top: 25vw;
}

.pos-tool-thing6{
	right: 27vw; top: 35vw;
}

.pos-tool-thing7{
	right: 19.5vw; top: 35vw;
}

.pos-tool-thing8{
	right: 11.5vw; top: 35vw;
}

.circle-nr {
	/*.circle-nr.active ถ้าใช้เเบบ trigger*/
	z-index: 0;
	position: absolute;
	background-color: #FD2D2D;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	opacity: 80%;
}

.sec1 .circle-nr {
	transform: scale(var(--scale));
	transition: 0.5s;
}

.sec2 .circle-nr {
	transform: scale(var(--scale_2));
	transition: 0.5s;
}

.circle-sm {
	z-index: 0;
	position: absolute;
	width: 180px;
	height: 180px;
	background-color: #FD2D2D;
	border-radius: 50%;
	opacity: 80%;
}

.sec1 .circle-sm {
	transform: scale(var(--scale));
	transition: 0.5s;
}

.sec2 .circle-sm {
	transform: scale(var(--scale_2));
	transition: 0.5s;
}

@keyframes highlight-anim {
	from {
		width: 0;
		background: linear-gradient(transparent 45%, #FD2D2D 41%, #FD2D2D 80%, transparent 81%);
	}
	to {
		width: 102%;
		background: linear-gradient(transparent 45%, #FD2D2D 41%, #FD2D2D 80%, transparent 81%);
	}
}


/*Grid*/

.grid-parent,
.column-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.5rem;
}

.column-8,
.grid-parent-col8 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0.5rem;
}

.column-2,
.grid-parent-col2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5rem;
	height: 100%;
}

.grid-parent>div.span-1,
.grid-parent>a.span-1,
.grid-parent-col2>a.span-1,
.grid-parent-col2>div.span-1 {
	grid-column: span 1;
}

.grid-parent>div.span-2,
.grid-parent-col8>div.span-2,
.grid-parent-col2>div.span-2,
.grid-parent-col2>a.span-2 {
	grid-column: span 2;
}

.grid-parent>div.span-3,
.grid-parent-col8>div.span-3 {
	grid-column: span 3;
}

.grid-parent>div.span-4,
.grid-parent-col8>div.span-4 {
	grid-column: span 4;
}

.grid-parent>div.span-5,
.grid-parent-col8>div.span-5 {
	grid-column: span 5;
}

.grid-parent>div.span-6,
.grid-parent-col8>div.span-6 {
	grid-column: span 6;
}

.grid-parent>div.span-7,
.grid-parent-col8>div.span-7 {
	grid-column: span 7;
}

.grid-parent>div.span-8,
.grid-parent-col8>div.span-8 {
	grid-column: span 8;
}

.grid-parent>div.span-9,
.grid-parent-col8>div.span-9 {
	grid-column: span 9;
}

.grid-parent>div.span-10,
.grid-parent-col8>div.span-10 {
	grid-column: span 10;
}

.grid-parent>div.span-11,
.grid-parent-col8>div.span-11 {
	grid-column: span 11;
}

.grid-parent>div.span-12,
.grid-parent-col8>div.span-12 {
	grid-column: span 12;
}


/*Arrow*/
.pos-arrowCenter{
	position: absolute;
	width: 100%;
	display: -webkit-flex; align-items: center; -webkit-justify-content: center;
	justify-content: center;
}
.pos-arrowD-main{
	position: absolute;
	top: 87vh;
	right: 11vw;
	z-index: 100;
}
.pos-arrowRight{
	position: absolute;
	width: 100%;
	display: -webkit-flex; -webkit-align-items: end; -webkit-justify-content: end;
	justify-content: end; align-items: end; display: flex;
}
.pos-arrowLeft{
	position: absolute;
	width: 100%;
	display: -webkit-flex; align-items: start; -webkit-justify-content: start;
	justify-content: start;
}
.arrow p{
	margin: 0;
	color: #FD2D2D;
}
.arrowImg{
	width:40px; 
	height:40px;
}
.arrow.up{
	text-align: center;
	cursor: pointer;
	animation: arrowUpOut 1.5s;
	animation-fill-mode: forwards;
}
.arrow.up:hover{
	animation: arrowUpIn 1.5s;
	animation-fill-mode: forwards;
}
.arrow.down{
	cursor: pointer;
	animation: arrowDownOut 1.5s;
	animation-fill-mode: forwards;
}
.arrow.down:hover{
	animation: arrowDownIn 1.5s;
	animation-fill-mode: forwards;
}
.arrow.left{
	padding-left: 10vh;
	cursor: pointer;
	animation: arrowLeftOut 1.5s;
	animation-fill-mode: forwards;
	display: -webkit-flex; align-items: center;
}
.arrow.left:hover{
	animation: arrowLeftIn 1.5s;
	animation-fill-mode: forwards;
}
.arrow.right{
	padding-right: 10vh;
	cursor: pointer;
	animation: arrowRightOut 1.5s;
	animation-fill-mode: forwards;
	display: -webkit-flex; align-items: center;
}
.arrow.right:hover{
	animation: arrowRightIn 1.5s;
	animation-fill-mode: forwards;
}
@keyframes arrowRightOut {
	0%{transform: translateX(15px);}
	100%{transform: translateX(0px);}
}
@keyframes arrowRightIn {
	0%{transform: translateX(0px);}
	100%{transform: translateX(15px);}
}
@keyframes arrowUpIn {
	0%{transform: translateY(0px);}
	100%{transform: translateY(-15px);}
}
@keyframes arrowUpOut {
	0%{transform: translateY(-15px);}
	100%{transform: translateY(0px);}
}

@keyframes arrowDownIn {
	0%{transform: translateY(0px);}
	100%{transform: translateY(15px);}
}

@keyframes arrowDownOut {
	0%{transform: translateY(15px);}
	100%{transform: translateY(0px);}
}
@keyframes arrowLeftOut {
	0%{transform: translateX(-15px);}
	100%{transform: translateX(0px);}
}
@keyframes arrowLeftIn {
	0%{transform: translateX(0px);}
	100%{transform: translateX(-15px);}
}

/*Heart*/
.heart {
	fill: #858585;
	position: relative;
	top: 5px;
	width: 2vw;
	min-width: 21px;
	margin: 0 5px;
}

.heart.active{
	fill: #FD2D2D;
}

.heart-containner{
	width: 100%;
	margin-top: 15vh;
	position: absolute;
}

.heart-sub-containner{
	padding: 0 24vh; width: 100%;
}

/*Game*/
.game-item{
	position: absolute;
}

.game-head{
	visibility: hidden;
	height: 0;
}

.pos-game-1{
	width: 5.5vw;
	left: 20vw;
	top: 15vw;
	transform: rotateZ(10deg);
}

.pos-game-2{
	width: 3vw;
	left: 13vw;
	top: 26vw;
	transform: rotateZ(-15deg);
}

.pos-game-3{
	width: 10vw;
	left: 22vw;
	top: 33vw;
}

.pos-game-4{
	width: 5.5vw;
	left: 32vw;
	top: 15vw;
}

.pos-game-5{
	width: 6.5vw;
	left: 35vw;
	top: 27vw;
}

.pos-game-6{
	width: 2.5vw;
	left: 43vw;
	top: 29vw;
	transform: rotateZ(40deg);
}

.pos-game-7{
	width: 9vw;
	right: 20vw;
	top: 13vw;
}

.pos-game-8{
	width: 8.5vw;
	right: 32vw;
	top: 18vw;
	transform: rotateZ(10deg);
}

.pos-game-9{
	width: 5.5vw;
	right: 35vw;
	top: 34vw;
	transform: rotateZ(10deg);
}

.pos-game-10{
	width: 7vw;
	right: 23vw;
	top: 27vw;
	transform: rotateZ(-5deg);
}

.pos-game-11{
	width: 12.5vw;
	right: 8vw;
	top: 37vw;
}

.pos-game-12{
	width: 9vw;
	right: 8vw;
	top: 21vw;
	transform: rotateZ(20deg);
}

.game-item:hover,
.game-item.active{
	filter: drop-shadow(0 0 10px #FD2D2D);
}

.hidden{
	width: 0;
	visibility: hidden;
}

.gamebtn{
	color: #fff8f8;
	background-color: #FD2D2D;
	border-radius: 18px;
	padding: 10px 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 2.5vh;
	box-shadow: 2px 5px 5px #1a1919;
	transition: 0.5s;
}

.gamebtn2{
	color: #fff8f8;
	background-color: #FD2D2D;
	border-radius: 18px;
	padding: 10px 15px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	height: 2.5vh;
	box-shadow: 2px 5px 5px #1a1919;
	transition: 0.5s;
}

.gamebtn:hover, .gamebtn2:hover{
	box-shadow: none;
	transition: 0.5s;
}

.armAnim{
	position: absolute;
	width: 30vw;
	right: -100px;
	top: -180px;
	transform-origin: top right;
	animation: armAnimation 1s;
	animation-fill-mode: forwards;
}

@keyframes armAnimation {
	0%{transform: rotate(-90deg)}
	70%{transform: rotate(-43deg)}
	100%{transform: rotate(-45deg)}
}

@keyframes arrow {
	0% {
		opacity: 1;
		transform: translate(-10px, -10px);
	}
	100% {
		opacity: 0;
	}
}

@keyframes arrow_down {
	0% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.icon{
	display: none;
}

.mob-main-img{
	visibility: hidden;
}

.parallax{
	visibility: visible;
	width: 100%;
	position: relative;
	background-size: 102% 100%;
	background-image: url(./CA/รูปหน้าhome/หน้าหลัก-กองแรก.png), url(./CA/รูปหน้าhome/หน้าหลัก-กองกลาง.png),url(./CA/รูปหน้าhome/หน้าหลัก-กองหลัง.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 50%;
	z-index: -20;
}

/*สำหรับ mac*/
@media (max-width: 1280px){
	.armAnim{
		right: -100px;
		top: -100px;
	}
	.text-para{
		font-size: 1.2vw;
	}
	.heart-sub-containner{
		padding: 0 15vh; width: 100%;
	}

	.pos-tool-mock1{
		right: 29vw; top: 18vw;
	}
	
	.pos-tool-mock2{
		right: 20vw; top: 18vw;
	}
	
	.pos-tool-mock3{
		right: 13vw; top: 22vw;
	}
	
	.pos-tool-mock4{
		right: 31vw; top: 27vw;
	}
	
	.pos-tool-mock5{
		right: 23.5vw; top: 28vw;
	}
	
	.pos-tool-mock6{
		right: 16vw; top: 28vw;
	}
	
	.pos-tool-mock7{
		right: 10vw; top: 27vw;
	}
	
	.pos-tool-mock8{
		right: 29.7vw; top: 35vw;
	}
	
	.pos-tool-mock9{
		right: 20vw; top: 36vw;
	}
	
	.pos-tool-mock10{
		right: 11vw; top: 35vw;
	}

	.pos-game-1{
		width: 5.5vw;
		left: 20vw;
		top: 20vw;
		transform: rotateZ(10deg);
	}
	
	.pos-game-2{
		width: 3vw;
		left: 13vw;
		top: 31vw;
		transform: rotateZ(-15deg);
	}
	
	.pos-game-3{
		width: 10vw;
		left: 22vw;
		top: 38vw;
	}
	
	.pos-game-4{
		width: 5.5vw;
		left: 32vw;
		top: 20vw;
	}
	
	.pos-game-5{
		width: 6.5vw;
		left: 35vw;
		top: 32vw;
	}
	
	.pos-game-6{
		width: 2.5vw;
		left: 43vw;
		top: 34vw;
		transform: rotateZ(40deg);
	}
	
	.pos-game-7{
		width: 9vw;
		right: 20vw;
		top: 18vw;
	}
	
	.pos-game-8{
		width: 8.5vw;
		right: 32vw;
		top: 23vw;
		transform: rotateZ(10deg);
	}
	
	.pos-game-9{
		width: 5.5vw;
		right: 35vw;
		top: 39vw;
		transform: rotateZ(10deg);
	}
	
	.pos-game-10{
		width: 7vw;
		right: 23vw;
		top: 32vw;
		transform: rotateZ(-5deg);
	}
	
	.pos-game-11{
		width: 12.5vw;
		right: 8vw;
		top: 42vw;
	}
	
	.pos-game-12{
		width: 9vw;
		right: 8vw;
		top: 26vw;
		transform: rotateZ(20deg);
	}

}

/*สำหรับ mobile*/
@media (max-width: 768px) {

	.pos-arrowCenter.main{
		top: -100px;
	}
	.mob-mock-info-container{
		width: 100%;
		height: 25vh;
		padding: 0 10vw;
	}
	.mob-thing-info-container{
		width: 100%;
		height: 34vh;
		padding: 0 10vw;
		overflow-y: auto;
	}
	.click.active{
		padding: 0;
		margin: 0;
		font-size: max(25px, 2.1vw);
	}
	.click{
		font-size: 0 !important;
	}
	.mob-click.active{
		font-size: max(25px, 2.1vw);
		color: #FD2D2D;
		margin-top: 10vh;
		margin-bottom: 5vw;
		text-align: center;
		padding: 0 25vw;
		position: absolute;
		display: -webkit-flex;
	}
	.mock-container{
		visibility: hidden;
	}
	.border-bt-game{
		border-bottom: 1px solid #FD2D2D; position: absolute; width: 80%; margin: 0 10vw;
		bottom: 330px; z-index: -1;
	}
	.nav-logo-img{
		width: 50px;
		height: 50px;
		padding: 5vw 10vw;
		padding-top: 8vw;
		right: 0;
	}
	.mini-nav-bar{
		/*width: 0;
		height: 0;
		right: 0;*/
		background-color: #1a1919; position: fixed; height: 100vh; top: 0; width: 100%; z-index: 999;
		right: -110%;
		transition: 1s;
	}
	.mini-nav-bar.active{
		/*animation: nav-active 1s;
		animation-fill-mode: forwards;*/
		right: 0;
		transition: 1s;

	}
	.mini-nav-bar p{
		font-size: 5vw;
		font-weight: 300;
		color: #FD2D2D;
	}
	.mini-nav-bar .mini-nav-content{
		display: block;
	}
	/*
	@keyframes nav-active{
		0%{transform: translateX(300px);}
		100%{transform: translateX(0px);}
	}*/
	.game-head{
		visibility: visible;
		height: auto;
	}
	.heart-containner{
		margin-top: 2vh;
	}
	#logo{
		width: 323px;
		height: 109px;
	}
	.des-header-big.game{
		font-size: 28px;
		margin-top: 65px;
		margin-left: 50px;
	}
	.des-para-big.game{
		margin-top: 0;
		margin-left: 50px;
	}
	.des-track1{
		padding: 0 12vw; width: auto;
	}
	.mob-main-img{
		visibility: visible;
	}
	.parallax{
		visibility: hidden;
	}
	.nav-right a {display: none;}
	.nav-right .icon{
		float: right;
		display: block;
		color: #FD2D2D;
	}
	.nav-right{
		margin: 0;
	}
	.nav-left{
		margin: 0 30px;
	}
	.nav-right .fa{
		font-size: 35px;
	}
	.heart-sub-containner{
		padding: 0;
		display: -webkit-flex;
		-webkit-justify-content: center;
		justify-content: center;
	}
	#mini-logo-sm{
		width: 35px;
		max-height: 35px;
	}

	header .normal{
		height: 5vh;
	}

	.header{
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.gamebtn{
		padding: 8px 15px;
		height: 2vh;
	}

	.gamebtn2{
		height: 2vh;
	}

	body{
	  --h:190;
	}
	.flex-left-parent{
		align-items: start;
	}

	.sub-des-top{
		display: -webkit-flex;
		-webkit-justify-content: center;
		justify-content: center;
		align-items: start;
	}

	.des-top{
		left: 0;
	}
	.des-center{
		-webkit-justify-content: center;
		justify-content: center;
	}
	.des-header-big{
		font-size: max(29px, 2.1vw);
		padding-right: 15vw;
	}
	.des-long-container{
		position: relative;
		margin: 0 10vw;
		width: auto;
	}
	.sub-container h1{
		font-size: max(29px, 2.1vw);
	}
	.sub-container p{
		font-size: max(16px, 1.5vw) !important;
		padding-right: 25vw;
	}
	#dustman-des{
		padding: 0px 3em;
	}
	.dust3-des{
		padding-left: 3em;
		padding-right: 3em;
	}
	.person-pic-1{
		padding: 0 40vw 0 12vw;
	}
	.flex-right-parent{
		align-items: end;
	}

	section h1{
		font-size: max(25px, 2.1vw);
	}

	section p{
		font-size: max(17px);
	}
	.sub-container{
		margin-top: 10vh;
		padding: 0;
	}
	.sub-description{
		padding-right: 0;
		padding-left: 0;
	}
	.sub-description{
		font-size: max(16px, 1.5vw);
		font-weight: 200;
	}
	#section-nm-1-2{
		height: 60vh;
	}
	#section-nm-2{
		height: 30vh;
	}
	#section-nm-3{
		height: 45vh;
		margin-bottom: 20vh;
	}
	#section-nm-4{
		margin-bottom: 10vh;
	}
	#section-nm-5{
		height: 70vh;
	}
	#section-nm-6{
		height: 80vh;
	}
	#section-nm-7{
		margin-top: 0;
		height: 45vh;
		margin-bottom: 100px;
	}
	#section-nm-8{
		height: 80vh;
	}
	#section-nm-9{
		margin-top: 0;
		height: 70vh;
	}
	#section-nm-10{
		margin-top: 0;
	}
	#section-nm-1-p2{
		height: 72vh;
	}
	.arrow.left{
		padding-left: 5vw;
	}
	.time_stm{
		visibility: hidden;
	}
	.arrow.right{
		position: absolute;
		right: 0;
		padding-right: 5vw;
	}
	.align-start{
		align-items: start;
	}
	.mach-sub-des{
		font-size: 0;
	}
	.mach-comment{
		padding-left: 0;
	}
	.img-comment .comment{
		bottom: 0;
	}
	/*หน้าเเรก*/
	
	.img-nr{
		width: 75%;
	}
	.img-nr-2{
		width: 100%;
	}
	.img-nr-3 {
		width: 80vw;
		height: auto;
	}
	#dustman{
		padding: 0;
	}
	.mob-img-fit{
		width: 90%;
	}
	.circle-nr{
		width: 140px;
		height: 140px;
	}
	.circle-sm{
		width: 115px;
		height: 115px;
	}

	.item-1{
		left: 16.5vh;
		padding: 20px;
		width: 100px;
		top: 22.5vw;
	}
	.item-2{
		bottom: 46vh;
		padding: 25px;
		width: 63px;
	}
	.item-3{
		bottom: 40vh;
		left: 56vw;
		padding: 20px;
		width: 100px;
	}
	.item-4{
		top: 30vh;
		right: 8vw;
		width: 100px;
	}
	.item-5{
		bottom: 5vh;
		right: 65vw;
		padding: 18px;
		width: 79px;
	}
	.pos-item-1{
		left: 16.5vh;
		top: 22.5vw;
	}
	.pos-item-2{
		bottom: 46vh;
	}
	.pos-item-3{
		bottom: 40vh;
		left: 56vw;
	}
	.pos-item-4{
		top: 30vh;
		right: 8vw;
	}
	.pos-item-5{
		bottom: 5vh;
		right: 65vw;
	}
	.bottle{
		object-fit: cover;
		width: 90%;
	}
	section.game{
		height: 812px;
	}
	.pos-game-1{
		width: 15vw;
		left: 41vw;
		top: 20vw;
		transform: rotateZ(10deg);
	}
	
	.pos-game-2{
		width: 9vw;
		left: 20vw;
		top: 21vw;
		transform: rotateZ(-15deg);
	}
	
	.pos-game-3{
		width: 26vw;
		left: 62vw;
		top: 60vw;
		transform: rotate(-30deg);
	}
	
	.pos-game-4{
		width: 13.5vw;
		left: 40vw;
		top: 54vw;
	}
	
	.pos-game-5{
		width: 16.5vw;
		left: 66vw;
		top: 27vw;
	}
	
	.pos-game-6{
		width: 5.5vw;
		left: 24vw;
		top: 55vw;
		transform: rotateZ(35deg);
	}
	
	.pos-game-7{
		width: 23vw;
		right: 40vw;
		top: 7vw;
	}
	
	.pos-game-8{
		width: 17.5vw;
		right: 65vw;
		top: 21vw;
		transform: rotateZ(-10deg);
	}
	
	.pos-game-9{
		width: 12.5vw;
		right: 40vw;
		top: -15vw;
		transform: rotateZ(10deg);
	}
	
	.pos-game-10{
		width: 17vw;
		right: 15vw;
		top: -12vw;
		transform: rotateZ(30deg);
	}
	
	.pos-game-11{
		width: 28.5vw;
		right: 10vw;
		top: 33vw;
	}
	
	.pos-game-12{
		width: 22vw;
		right: 63vw;
		top: -18vw;
		transform: rotateZ(20deg);
	}

	.mob-pos-mock-1{
		width: 12vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-2{
		width: 13vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-3{
		width: 18vh; /*-13*/
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-4{
		width: 10vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-5{
		width: 13vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-6{
		width: 10vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-7{
		width: 15vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-8{
		width: 25vh;
		padding: 5vw 5vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-9{
		width: 20vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-pos-mock-10{
		width: 10vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-1{
		width: 6vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-2{
		width: 14vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-3{
		width: 16vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-4{
		width: 12vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-5{
		width: 10vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-6{
		width: 28vh;
		padding: 0 5vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-7{
		width: 3.5vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	.mob-thing-mock-8{
		width: 25vh;
		padding: 0 10vw;
		padding-bottom: 5vw;
	}
	/* สร้างสำหรับ Mobile */
	.crop-1{
		height: auto;
	}
	.crop-2{
		height: auto;
	}
	.head-mob{
		font-size: max(25px, 2.1vw);
		visibility: visible;
	}
	.sec-des-mach{
		padding: 0 20vw;
		text-align: center;
	}
	.mob-des-person2{
		top: 37vh;
		margin-left: 10vw;
	}
	.nr-mach-sub-des{
		font-size: max(17px);
	}
	.head-nr{
		font-size: 0;
		visibility: hidden;
	}
	.section-main{
		height: 100vh;
	}
	.pos-arrowD-main{
		top: 87vh;
		right: 45vw;
		z-index: 100;
	}
	.arrow.down.center{
		right: 47%;
	}
	.arrowImg{
		width:30px; 
		height:30px;
	}
	.arrow p{
		font-size: 15px;
	}

	.mob-nav-logo{
		display: -webkit-flex; -webkit-justify-content: end;
		justify-content: end; display: flex; width: 100%;
	}

	.mob-sub-container{
		padding: 0 10vw;
	}

	.mob-flex-center-parent{
		display: flex;
		display: -webkit-flex;
		-webkit-justify-content: center;
		justify-content: center;
		align-items: center;
	}

	.mob-column-8,
	.mob-grid-parent-col8 {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 0.5rem;
	}

	.mob-column-2,
	.mob-grid-parent-col2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5rem;
		height: 100%;
	}

	/*   ตัว Grid ลูก */
	.grid-parent>div.mob-span-1,
	.grid-parent>a.mob-span-1,
	.grid-parent-col2>div.mob-span-1,
	.mob-column-2>a.mob-span-1 {
		grid-column: span 1;
	}
	.grid-parent>div.mob-span-2,
	.grid-parent-col8>div.mob-span-2,
	.grid-parent-col2>div.mob-span-2,
	.mob-column-2>a.mob-span-2 { 
		grid-column: span 2;
	}
	.grid-parent > div.mob-span-3{
	  grid-column:span 3;
	}
	.grid-parent > div.mob-span-4{
	  grid-column:span 4;
	}
	.grid-parent > div.mob-span-5{
	  grid-column:span 5;
	}
	.grid-parent > div.mob-span-6{
	  grid-column:span 6;
	}
	.grid-parent > div.mob-span-7{
	  grid-column:span 7;
	}
	.grid-parent > div.mob-span-8{
	  grid-column:span 8;
	}
	.grid-parent > div.mob-span-9{
	  grid-column:span 9;
	}
	.grid-parent > div.mob-span-10{
	  grid-column:span 10;
	}
	.grid-parent > div.mob-span-11{
	  grid-column:span 11;
	}
	.grid-parent > div.mob-span-12{
	  grid-column:span 12;
	}

	.mob-sec-garbage{
		height: 70%;
	}
	.mob-mock-container{
		overflow-x: auto;
		overflow-y: hidden;
		height: 38vh;
		width: auto;
		background-color: #222222;
		display: -webkit-flex;
		scroll-snap-type: mandatory;
		scroll-snap-points-x: repeat(300px);
		scroll-snap-type: x mandatory;
	}
	.mob-thing-container{
		overflow-x: auto;
		overflow-y: hidden;
		height: 28vh;
		width: auto;
		background-color: #222222;
		display: -webkit-flex;
		scroll-snap-type: mandatory;
		scroll-snap-points-x: repeat(300px);
		scroll-snap-type: x mandatory;
	}
	.nr-mach-sec{
		height: 0; width: 0;
	}
	.mach-top{
		align-items: start;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.mach-bt{
		align-items: end;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.dust-sec{
		height: 80%;
	}
	.dust-head{
		padding: 0 31vw;
	}
	.name2 {
		font-weight: 200;
	}
	.mob-mock-info-container h1, .mob-mock-info-container p, .mob-thing-info-container h1, .mob-thing-info-container p{
		margin: 0;
	}
	.mob-mock-info-container h1, .mob-thing-info-container h1{
		font-size: max(23px);
		color: #FD2D2D;
	}
	.mob-mock-a{
		align-self: end;
		-webkit-align-self: end;
		scroll-snap-align: center;
	}
	.mob-center-text{
		text-align: center;
	}
	.img-long1, .img-long2{
		height: 0;
		width: 0;
	}
	#the-girl{
		align-self: end;
		padding: 0;
		width: 80%;
	}
	.model{
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		width: 80vw;
		height: auto;
		display: block;
	}
	.long-des .description{
		margin-bottom: 5px;
	}
	.long-des .sub-description{
		margin-top: 0;
		margin-bottom: 15px;
	}
	.long-des .sub-description p{
		margin-top: 15px;
		margin-bottom: 0;
	}
	section.long-section{
		height: 270vh;
	}
	footer{
		height: 20px;
		margin-top: 50px;
	}
	.img-sign, .img-sign.active{
		width: 0;
		height: 0;
	}
	#mock-info-para{
		padding-right: 0;
	}
	#mock-info-header, #mock-info-para{
		font-size: 0;
		visibility: hidden;
		padding: 0;
		width: 0;
		height: 0;
	}
	.mob-thing-info-container .mob-text-header{
		padding-right: 50vw;
	}
	.mob-mock.active, .mob-thing.active{
		filter: drop-shadow(0px 0px 7px #FD2D2D );
	}
	.armAnim{
		width: 0;
		height: 0;
		display: none;
		top: 0;
		right: 0;
		animation: none;
	}
	.credit p{
		font-size: x-small;
		padding: 0 3vw;
	}
  }